<!DOCTYPE html>
<html>
  <head>
    <title>MyRedPlanet</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="bg-mars bg-cover">
    <div class="flash-message font-mono bg-orange-200">
     <p class="notice"><%= notice %></p>
     <p class="alert"><%= alert %></p>
    </div>
      <% if user_signed_in? %>
        <%= render "layouts/navbar" %>
      <% else %>
        <a href="/users/sign_in">Sign in</a> or <%= link_to "Sign up", new_user_registration_path %>
      <% end %>
    <%= yield %>
  </body>
</html>
